body {
    background: linear-gradient(90deg, lightgrey, lightblue);
    text-align: center;
}   

h1 {text-align: center;}

#add-me-button{
    padding-left: 20px;
    padding-right: 20px; 
}

#item{
    text-align: center;
    word-spacing: 60px;
    border-radius: 12px;
    border-style: solid;
    border-width: 2px;
    background: white;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 30px;
}

#milk-button{
    padding-left: 20px;
    padding-right: 20px; 
}

#milk.ticked{
    text-decoration: line-through;
}

#bread-button{
    padding-left: 20px;
    padding-right: 20px; 
}

#bread.ticked{
    text-decoration: line-through;
}

#eggs-button{
    padding-left: 20px;
    padding-right: 20px; 
}

#eggs.ticked{
    text-decoration: line-through;
}